<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css"/>
    <title>UI Store Website</title>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form action="{{ url_for('buatakun') }}" method="post" id="buatakun-form">
                <h2>Sign Up</h2>
                <label for="new-username">Username:</label>
                <input type="text" id="new-username" name="new-username" required>
                <label for="new-password">Password:</label>
                <input type="password" id="new-password" name="new-password" required>
                <button type="submit">Sign Up</button>
            </form>
            <p>Sudah Punya Akun ? <a href="{{ url_for('index') }}">Login</a></p>
        </div>
    </div>
</body>
</html>