<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static',filename='history.css') }}" rel="stylesheet" type="text/css"/>
    <title>UI Store Website</title>
</head>
<body>
    <div class="content">
        <h1>Purchase History</h1>
        <ul>
            {% for purchase in purchases %}
                <li>{{ purchase.name }} - Rp {{ purchase.price }}</li>
            {% endfor %}
        </ul>
    </div>
    <a href="{{ url_for('shop') }}">Home</a>
</body>
</html>