<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "{{ url_for('static',filename='shop_style.css') }}" rel="stylesheet" type="text/css"/>
    <title>UI Store Website</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='ui.png') }}" alt="Universitas Indonesia">
            </div>
            <ul class="menu">
                <li class="active"><a href="{{ url_for('market') }}">Shop</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('profile', username=current_user.id) }}">Profile</a></li>
                    <li><a href="{{ url_for('history') }}">History</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('index') }}">Login</a></li>
                    <li><a href="{{ url_for('buatakun_hlm') }}">Sign Up</a></li>
                {% endif %}
            </ul>

            <div class="hamburger-menu" onclick="toggleMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </nav>
    </header>

    <div class="content">
        <img src="{{ url_for('static', filename='model.png') }}" alt="new product">
        <div class="content-text">
            <h1>NEW RELEASE PRODUCT !</h1>
            <a href="{{ url_for('market') }}">Go To Market</a>
        </div>
    </div>

    <footer>
        <p> UI Store made with Group 1</p>
    </footer>

    <script>
        function toggleMenu() {
            var menu = document.querySelector('.menu');
            menu.classList.toggle('active');
        }
    </script>

</body>
</html>
